{% extends "web/base.html" %}
{% block title %}로그인{% endblock%}
{% block content %}
<div class="card dt-auth-login">
    
        <form class="login" method="post" action="{{  url_for('auth.login')  }}">
            {% for message in get_flashed_messages() %}
            <span class="dt-auth-flash">{{  message  }}</span>
            {% endfor %}
            {{  form.csrf_token  }}  
            {{  form.email(class="form-control dt-auth-input", placeholder="메일 주소")  }}
            {{  form.password(class="form-control dt-auth-input", placeholder="비밀번호")  }}
            {{  form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn")  }}
        </form>
        <!--회원가입 버튼 추가-->
        <div class="dt-auth-signup ">
            <a class="btn-link" href="{{ url_for('auth.signup') }}" >회원가입</a>
        </div>
</div>
{% endblock %} 

